<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/team">Borderless Team</a></li>
<li><a href="/Publications">Publications &amp; CV</a></li>
<li><a href="/twitter">Twitter</a></li>
<li><a href="https://www.linkedin.com/in/bernhard-kainz-43514320/">LinkedIn</a></li>

<!--<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>-->
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li>bernhard dot kainz1 &auml;t gmail dot com</a></li>
   <li><a target="_blank" href="https://github.com/bkainz">github.com/bkainz</a></li>
   <li><a target="_blank" href="https://hds.tf.fau.eu/">Friedrich-Alexander-University Erlangen-Nuremberg</a></li>
   <li><a target="_blank" href="http://www.imperial.ac.uk/people/b.kainz">Imperial College</a></li>
    <li><a target="_blank" href="https://scholar.google.com/citations?user=Igxq-YEAAAAJ&hl=en">Google Scholar</a></li>
    <li><a target="_blank" href="https://www.researchgate.net/profile/Bernhard_Kainz2?ev=hdr_xprf">ResearchGate</a></li>
    <li><a target="_blank" href="https://uk.linkedin.com/pub/bernhard-kainz/20/143/435">LinkedIn</a></li>
   </ul>
  </footer>
  </body>

</html>
